.tag {
	display: flex;
	justify-content: space-around;
	border: 1px solid #939597;
	width: 100%;
	margin: 2px;
	border-radius: 3px;
	color: #939597;
	font-size: 1.5rem;
}

.clicked {
	background-color: #939597;
	color: #F5dF4D;
}
